.list {
  display: flex;
  align-items: center;
  min-height: 120px;
  border-color: rgba(0, 0, 0, 0.09);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
  margin: 12px;
  border-radius: 20px;
  padding: 16px;

  .list-top {
    display: flex;
    justify-content: space-between;

    h4 {
      font-size: 18px;
      font-weight: bold;
      font-style: italic;
      background: linear-gradient(156deg,rgba(251,92,79,1) 0%, rgba(255,165,46,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding-right: 6px;
    }

    p {
      font-size: 16px;
      color: #FFA52E;
      font-weight: bold;
      font-style: italic;
    }
  }

  .list-name {
    color: #FDAD43;
    padding: 12px 0;
    font-weight: 600;
  }

  .list-bottom {
    display: flex;
    justify-content: space-between;

    p {
      font-size: 12px;
      color: #FDAD43;
      font-weight: 500;
    }
  }
}